/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

body {
  margin: 0px;
  background-color: #373331;
}
.calcContainer {
  margin: 5vh;
  padding: 3vh;
  background-color: #605a56;
  /* justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 10px; */
/* }
.calcNavBar {
  background-color: blueviolet;
  margin: 0.5vh;
  padding: 4vh;
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  background-color: #80ac7b;
  font-size: 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
.calcHeader {
  background-color: #605a56;
  margin: 1vh;
  padding: 1vh;
  text-align: center;
  color: white;
  font-size: 3vh;
  font-family: poppins;
}
.calcForm {
  background-color: saddlebrown;
  display: flex;
}
.calcTotal {
  background-color: slateblue;
} */
