/* body {
  margin: 0px;
  background-color: #605a56;
}
.calcContainer {
  margin: 5vh;
  padding: 3vh;
  background-color: blue;
}
.calcNavBar {
  background-color: blueviolet;
  margin: 0.5vh;
  padding: 4vh;
  display: flex;
}
button {
  border: none;
  background-color: green;
  font-size: 24px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
.calcHeader {
  background-color: red;
  margin: 1vh;
  padding: 2vh;
}
.calcForm {
  background-color: saddlebrown;
}
.calcTotal {
  background-color: slateblue;
} */
