@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
/* @media only screen and (max-width: 1200px) { */

.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url("/src/components/images/resizedController.png") no-repeat,
    #605a56;
  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  display: flex;
  position: relative;
  width: 450px;
  height: 380px;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
  place-items: center;
  margin-bottom: 30px;
  margin-top: 150px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: grey;
  margin-left: 300px;
  /* opacity: 0.8; */
  /* box-shadow: 14px 14px 20px #4ce231, -14px -14px 20px #4ce231; */
}

.brand-logo {
  height: 190px;
  width: 190px;
  background: no-repeat, url("/src/components/images/logo.png");
  margin-left: 100px;
  margin: auto;
  border-radius: 70%;
  box-sizing: border-box;
  /* box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white; */
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #24f21d;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
}

label,
input,
button {
  /* display: grid; */
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  opacity: 1;
}

label {
  margin-bottom: 6px;
}

label:nth-of-type(2) {
  margin-top: 15px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #fd5411d8;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  /* box-shadow: 6px 6px 6px #9e360dec, -6px -6px 6px #9e360dec; */
  transition: 0.5s;
}

.signupButton {
  margin-top: 20px;
  background: #fd5411d8;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  /* box-shadow: 6px 6px 6px #9e360dec, -6px -6px 6px #9e360dec; */
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

/* a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
} */

h1 {
  position: absolute;
  top: 0;
  left: 0;
}
/* } */
