@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.overall {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  background: url("/src/components/images/resizedController.png") no-repeat,
    #605a56;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
}

.overall {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: block;
  position: relative;
  width: 570px;
  height: 380px;
  place-items: center;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: grey;
  margin-left: 30px;
}

.logo {
  display: flex;
  position: relative;
  height: 450px;
  width: 450px;
  background: no-repeat, url("/src/components/images/logo.png");
  margin-left: 350px;
}
.event {
  display: flex;
  position: relative;
  border-style: solid;
  border-color: grey;
  height: 320px;
  width: 900px;
  background: no-repeat, url("/src/components/images/event.png");
  margin-top: 10px;
  margin-left: 150px;
}

.brand-title {
  margin-left: 110px;
  font-weight: 900;
  font-size: 1.8rem;
  -webkit-text-stroke: 2px black;
  color: #24f21d;
  letter-spacing: 1px;
}

.l-inputs {
  text-align: left;
}

.l-label,
.l-input,
.l-button {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  opacity: 1;
}

.l-label {
  display: flex;
  flex-direction: left;
  margin-bottom: 6px;
}

.l-label:nth-of-type(2) {
  margin-top: 15px;
}

.l-input::placeholder {
  color: gray;
}

.l-input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.l-button {
  margin-top: 20px;
  background: #fd5411d8;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
}

.signup.l-Button {
  margin-top: 20px;
  background: #fd5411d8;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
}

.l-button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}
