/* .container {
  list-style-type: none;
}
ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.endpoint {
  display: flex;
  align-items: center;
  text-align: center;
  list-style-type: none;
}

a {
  justify-content: center;
  align-items: center;
  border: solid;
  padding: 10px;
} */
